<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
	<title>Burger Fun</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap" rel="stylesheet">
</head>

<body>
	{{{ body }}}

	<script>
		$(document).ready(function () {
			$(".nom-button").on("click", function (event) {
				event.preventDefault();
				var id = $(".nom-button").val();
				console.log(id);
				var newDevourState = {
					devoured: 1
				}; 
				
				$.ajax("/api/burgers/" + id, {
					type: "PUT",
					data: newDevourState
				}).then(
					function () {
						console.log("changed devoured to", newDevourState.devoured);
						location.reload();
					}
				);
			});
			$(".new-burger").on("click", function (event) {
				event.preventDefault();
				var newBurger = {
					burger_name: $(".burger-entry").val().trim(),
					devoured: 0
				};
				$.ajax("/api/burgers", {
					type: "POST",
					data: newBurger
				}).then(
					function () {
						console.log("created new burger");
						location.reload();
					}
				);
			});
			$(".clear-burger").on("click", function (event) {
				var id = event.target.value;
				$.ajax("/api/burgers/" + id, {
					type: "DELETE"
				}).then(
					function () {
						console.log("deleted burger", id);
						location.reload();
					}
				);
			});
		});
	</script>
</body>

</html>