<div class="container">
    <div class="jumbotron">
        <img src="https://i.chzbgr.com/full/875511040/h8EB4D6E9/" alt="I can haz cheezburger">
        <h1 class="text-center">
            Nom Nom Burger
        </h1>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card" style="width: 400px;">
                <div class="card-body">
                    <h5 class="card-title">Burgers to Eat</h5>
                    <ul class="list-group">
                        {{#each burgers}}
                        {{#unless devoured}}
                        <span>{{burger_name}}</span><button id="nom-button" type="submit"
                            class="btn btn-success">Nom Nom Nom</button>
                        {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card" style="width: 400px;">
                <div class="card-body">
                    <h5 class="card-title">Burgers Eaten</h5>
                    <ul class="list-group">
                        {{#each burgers}}
                        {{#if devoured}}
                        <span>{{burger_name}}</span>
                        <button id="clear-burger" type="submit" class="btn btn-danger">Clear Burger</button>
                        {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>